.contact {
    background-color: var(--white);
    padding: 1rem;
}

.contact__title,
.contact__text {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-weight: 500;
    font-size: 18px;
}

.contact__text {
    font-weight: 300;
    margin: 0.5rem 0 1rem 0;
}

.contact__email {
    padding: 1rem;
    border: 2px solid var(--blue-card);
    border-radius: 24px;
    width: 100%;
    height: 3rem;
    color: var(--blue-gradient);
}

.contact__email::placeholder {
    font-family: var(--main-font);
    color: var(--blue-gradient);
    background: url('../img/Email.svg') no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
    .contact {
        display: flex;
        padding: 2rem 5rem;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .contact__description {
        width: 35%;
    }

    .contact__title {
        font-size: 24px;
    }

    .contact__email {
        width: 40%;
    }
}

@media screen and (min-width: 1728px) {
    .contact {
        padding: 2rem 20vw;
    }

    .contact__text {
        margin-right: 1rem;
    }
}
