.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu-hamburger {
    height: 24px;
    width: 24px;
    background-image: url('../img/Menu.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.container__img {
    padding: 0 12px;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 65vw;
}

.container__button {
    display: none;
}

.container__button:checked ~ .menu-list {
    display: block;
}

.menu-list__title,
.menu-list__item {
    background-color: var(--white);
    padding: 1rem;
}

.menu-list__title {
    color: var(--orange-color);
    font-weight: 700;
}

.menu-list__link {
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__title {
    display: none;
}

.options {
    display: none;
}

.container__text {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__title {
        display: block;
    }

    .container__title,
    .container__title-negrito {
        font-size: 30px;
        font-family: var(--second-font);
    }

    .container__title-negrito {
        font-weight: 700;
    }

    .options {
        display: flex;
    }

    .options__item {
        padding: 0 1.5rem;
    }

    .options__link {
        color: var(--black);
    }

    .container__img-transparent {
        display: none;
    }

    .header__menu-hamburger {
        display: none;
    }

    .options__button {
        display: none;
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 33%;
        width: 18vw;
    }

    .options__button:checked ~ .menu-list {
        display: block;
    }
}

@media screen and (min-width: 1728px) {
    .header {
        padding: 0.6rem 2rem;
    }
    .container__link {
        display: flex;
        align-items: center;
        color: var(--black);
    }

    .container__text {
        display: block;
    }

    .options {
        margin-right: auto;
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 15%;
        width: 18vw;
    }
}
